@{
    ViewBag.Title = "Blogtintuc";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div style="height:750px">

    <p style="padding-top:20px;padding-left:10px; font-size:20px;"><a href="http://xaydungnhadat.vn/sai-lam-cuc-pho-bien-trong-thiet-ke-phong-ngu-nhieu-gia-dinh-viet-mac-phai/" target="_blank">Sai lầm cực phổ biến trong thiết kế phòng ngủ</a></p><br />
    <img src="~/Images/hinhtintuc1.jpg" width="250" height="150" style="float:left;padding-left:10px" />
    <p style="padding-left:250px ; font-size:15px ;margin-left:20px;">
        Sai lầm cực phổ biến trong thiết kế phòng ngủ nhiều gia đình Việt mắc phải Phòng ngủ là không gian để thư giãn, nghỉ ngơi, cho nên màu sắc của tường cũng như các đồ vật nên nhẹ nhàng. Nhiều người từng sơn phòng ngủ màu đỏ chói, nhưng đây không phải là điều tốt.
        Phòng ngủ nên là nơi yên tĩnh, không có những màu sắc mang tính kích thích và nhiều năng lượng. Bạn nên chọn các tông màu sáng nhưng nhẹ nhàng ....
    </p><br /><br />
    <hr style="width:890px ;height:1px;" />
    <p style="padding-top:20px;padding-left:10px; font-size:20px;"><a href="https://phongthuydoisong.net/cach-bai-tri-ghe-sofa-chuan-phong-thuy-nha-on/" target="_blank">Bài trí ghế sofa chuẩn phong thủy</a> </p><br />
    <img src="~/Images/hinhtintuc2.jpg" width="250" height="150" style="float:left;padding-left:10px" />
    <p style="padding-left:250px ; font-size:15px ;margin-left:20px;">
        Có hậu thuẫn, tức là có chỗ dựa vững chắc phía sau là điều kiện cần để có tốt. Vì vậy, bạn nên bố trí ghế sofa dựa lưng vào bức tường vững chắc.Bố trí ghế sofa ở vị trí phù hợp
        Việc bố trí ghế sofa trong phòng khách có đúng hay không ảnh hưởng đến tài lộc của gia chủ. Vì vậy, bạn cần bố trí ghế sofa ở những vị trí tốt. Quan niệm cho rằng, đối với ngôi nhà hướng Đông, ghế sofa nên đặt ở hướng chính Đông, Đông Nam, chính Nam, chính Bắc của phòng khách. Còn đối với ngôi nhà hướng Tây, sofa nên đặt ở hướng Tây Nam, chính Tây, Tây Bắc và Đông Bắc của phòng khách... .
    </p>
    <hr style="width:890px ;height:1px;" />
    <p style="padding-top:20px;padding-left:10px; font-size:20px;"> <a href="https://trangdangtin.com/blog/may-man-va-tai-loc-voi-cach-bo-tri-phong-bep-hop-phong-thuy-896.html" target="_blank"> Phòng bếp hợp phong thủy sẽ mang lại nhiều may mắn </a></p><br />
    <img src="~/Images/hinhtintuc3.jpg" width="250" height="150" style="float: left; padding-left: 10px" />
    <p style="padding-left:250px ; font-size:15px ;margin-left:20px;">
        Phong thủy nhà bếp luôn là vấn đề được các gia đình quan tâm và tìm hiểu. Việc xây dựng và bố trí phòng bếp như thế nào cho hợp phong thủy là điều rất cần thiết.Vị trí đặt bếp theo phong thủy trước tiên, xét về phong thủy thì vị trí tốt nhất cho phòng bếp là hướng Đông Nam, Đông và góc hướng Nam. Lưu ý, tránh bố trí phòng bếp gần nhà vệ sinh vì nước và lửa kỵ nhau dễ gây ra xung đột làm ảnh hưởng đến sức khỏe.Yếu tố sạch sẽ, gọn gàng và giữ phòng bếp luôn thoáng đãng, mát mẻ là rất cần thiết để mang đến cho gia chủ sự sung túc và sức khỏe....
    </p>
</div>

