
@{
    ViewBag.Title = "GIỚI THIỆU";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align: center; ">Shop Nội Thất Nhà Ở </h2>
<p style="padding-left: 15px">
<p style="padding-left: 15px">VỀ CHÚNG TÔI</p>
    Chúng tôi tin rằng mọi người đều có tổ ấm của riêng mình, một nơi để cảm nhận chính mình. Một ngôi nhà phù hợp với cá tính của bạn và gia đình, tạo ra một không gian dễ chịu và thoải mái. Một nơi tách biệt với thế giới bên ngoài, một nơi để thể hiện cá tính và sở thích của chủ nhân ngôi nhà. Sự ấm áp sẽ lan tỏa đến mọi người, dù khả năng kinh tế như thế nào. Đó là lý do tại sao chúng tôi muốn giúp bạn "Biến ngôi nhà thành tổ ấm".Tầm nhìn của chúng tôi được hoàn thiện khi mỗi gia đình trên đất nước Việt Nam đều có ít nhất một sản phẩm nội thất của nội thất của chúng tôi.
    Nội thất của chúng tôi luôn ưu tiên hàng đầu trong vấn đề phát triển phát triển đội ngũ kiến trúc sư có tay nghề cao, và chuyên viên nội thất sáng tạo biết thiết kế, bố trí hợp lý và thông minh Luôn cung cấp cho khách hàng những sản phẩm chất lượng nhất
    Chế độ bảo hành, bảo trì chuyên nghiệp và tận tâm 70% sản phẩm của chúng tôi xuất xứ từ tự nhiên và được sản xuất hoàn toàn thủ công</br>
<p style="padding-left: 15px">SẢN PHẨM</p>
    Nội thất gia đình: Nội Thất Phòng Khách , Nội Thất Phòng Bếp , Nội Thất Phòng Ngủ .... và sẽ kinh doanh nhiều sản phẩm hơn nữa.
    Chất liệu gỗ tự nhiên như Căm xe, Gõ đỏ, Sồi, Xoan đào…
    Chất liệu gỗ công nghiệp như HDF chống ẩm, Polywood chống ẩm, MDF An Cường, Acrylic bóng gương và Laminat chống Trầy xước…
    Ưu điểm đa dạng về mẫu mã, màu sắc, chất liệu kết hợp với cơ sở sản xuất dựa trên dây chuyền máy móc hiện đại cùng với đội ngũ nhân viên được đào tạo chuyên nghiệp sẽ mang đến cho quý khách hàng sản phẩm chất lượng cao và giá cả hợp lý nhất nhằm mục đích đáp ứng mọi yêu cầu của khách hàng</br>
<p style="padding-left: 15px">LỜI KẾT:</p>
    Nội thất chúng tôi kính gửi lời cảm ơn tới tất cả các quý khách hàng đã đang và sẽ sử dụng các sản phẩm và dịch vụ của chúng tôi. Với tiêu chí: “Khách hàng là trung tâm” và “Sự hài lòng của quý khách hàng là thành công của Công ty”, chúng tôi luôn mong muốn phục vụ quý khách hàng ngày càng tốt hơn.
    Trân trọng!.
</p>
<p style="width: 1150px; text-align:center;  font-family:Franklin Gothic">Thank you for shopping with us !</p>
