@{
    ViewBag.Title = "Lienhe";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<p style="  padding-left: 15px;padding-top:15px">Shop Nội Thất Nhà Ở - TP.Hồ Chí Minh.</p>
<p style="padding-left: 15px">Phone: 0976.972.771</p>
<p style=" padding-left: 15px">Email: Ngoctuan090397@gmail.com</p>
<p style=" padding-left: 15px">Giờ làm việc: Thứ 2-Thứ 7 : 8.00h-10.00h (CN: Nghỉ)</p>

