@model IEnumerable<WebBanHang.Models.THUONGHIEU>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPTheoThuongHieu","Home", new { id = item.MaTH })" class="list-group-item">
            @item.TenTH
        </a>
    }
</div>
